name: Build Movie App APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"

      - name: Install dependencies
        # Thêm working-directory để chạy lệnh bên trong thư mục user
        run: flutter pub get
        working-directory: user

      - name: Build APK
        # Thêm working-directory để chạy lệnh bên trong thư mục user
        run: flutter build apk --release --no-tree-shake-icons
        working-directory: user

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MovieApp-User-APK
          # Cập nhật đường dẫn tìm file APK chính xác
          path: user/build/app/outputs/flutter-apk/app-release.apk
